<body class="margem">
    <main>
        <form (ngSubmit) = "receberDados()">

            <div id="login_cadastro" class="container_login">
                <div class="cadastro cores_letras">
                    <h2>LOGIN</h2>
                    <form action="/action_page.php">
                        <label for="email">E-mail:</label><br>
                        <input type="email" id="email" name="email" placeholder=" Ex.: email@email.com"[(ngModel)]="userModel.email" ><br>

                        <label id="senha" for="lname">Senha:</label><br>
                        <input type="password" id="senha" name="password" placeholder="Sua senha aqui ... " [(ngModel)]="userModel.password"><br><br>
                        <input id="botao-enviar" type="submit" value="ENTRAR">
                    </form> 
                </div>
            </div>
            <div>
            Medida
            </div>
        </form>
    </main>
</body>
