<header> <!--Parte superior do site,LOGO, Caixa de pesquisa, Carrinho e Login-->
    <div id="menu" class="cabecalho">

        <a href="index_teste.html">
        <img class="logo" id="logo-site" src="assets/img/Logo Gamemania.png" alt="Logo GameMania"></a>                         
        <div id="menu" class="menu"> 
            <a href="index_teste.html"><button type="button" class="btn btn-secondary">INICIO</button></a>

                <section id="botao de pesquisa" class="pesquisa">        
                    <nav class="navbar navbar-dark bg-dark">
                        <div class="container-fluid">
                            <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                            </form>
                        </div>
                    </nav>
                    <img id="imagem-lupa" src="assets/img/Lupa.png"
                        alt="Lupa" width="5%">
                </section>
                
            <a href="carrinho.html"> <img id="imagem-carrinho" src="assets/img/Carrinho.png"
                    alt="Carrinho" width="56.98px" height="48.64px"> </a>
            
            
            <a href="/GameMania/src/app/views/login/login.component.html"><button type="button" class="btn btn-secondary">LOGIN</button></a>
        </div>            
    </div>
        
</header> 
